@{
    ViewBag.Title = "Home Page";
}

<h3>Select List Sample</h3>
<div>
    @Html.DropDownList("Field1", ViewBag.MySelectList as SelectList, "(select)")
</div>    

<h3>Copy of Select List</h3>
<p>This is a partial view below that renders the SelectList above from SessionDictionary.</p>

@Html.Action("TestSelectList")