@{
    ViewBag.Title = "Home Page";
}

<h3>Select List Sample</h3>

<div class="row">
    <div class="col-6">
        <p>This is the original SelectList created by the Index action.</p>
        @Html.DropDownList("Field1", ViewBag.MySelectList as SelectList, "(select)")
    </div>
    <div class="col-6">
        <p>This is a partial view below that renders the SelectList above from SessionDictionary.</p>
        @Html.Action("TestSelectList")
    </div>
</div>

